<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>BeamAuth</title>
  <link rel="stylesheet" href="/static/style.css" />
  <script src="/static/jquery-1.3.2.min.js" language="javascript"></script>
  <script src="/static/hmac.js" language="javascript"></script>
  <script src="/static/browserdetect.js" language="javascript"></script>
</head>
<body>
<div class="container">

{% block content %}{% endblock %}

<p style="text-align: right; font-size: 80%;">
Demo by <a href="http://ben.adida.net"><em>Ben Adida</em></a>
</p>
</div>
</body>
</html>
