{% extends "base.html" %}

{% block content %}

<h2>Password Reset for {{user.email}}</h2>

<form method="post" action="password_reset" onsubmit="if (this.password.value != this.password2.value) {alert('passwords don\'t match'); return false;}">
<input type="hidden" name="email" value="{{user.email}}" />
<input type="hidden" name="verif" value="{{verif}}" />
<table border="0">
<tr><td>Your New Password:</td><td><input type="password" name="password" /></td></tr>
<tr><td>Your New Password (confirm):</td><td><input type="password" name="password2" /></td></tr>
</table>
<input type="submit" value="update your password" />
</form>

{% endblock %}